form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-top: 10px;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input, select, button {
  margin-top: 5px;
  padding: 5px;
}

button {
  margin-top: 15px;
  width: 120px;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.success {
  color: green;
  margin-bottom: 10px;
}
